<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <title>Register/Login</title>
</head>
<body>
    <div class='d-flex justify-content-around'>

        <div class='col-4 my-5'>
            <h1>Registration</h1>
            <form action='/register' method='post'>
                {% csrf_token %}
                <div class='form-group'>
                    <label for='first_name'>First name:</label>
                    <input type='text' id='first_name' name='first_name' class="form-control">
                </div>
                <div class='form-group'>
                    <label for='last_name'>Last name:</label>
                    <input type='text' id='last_name' name='last_name' class="form-control">
                </div>
                <div class='form-group'>
                    <label for='email'>Email:</label>
                    <input type='text' id='email' name='email' class="form-control">
                </div>
                <div class='form-group'>
                    <label for='password'>Password:</label>
                    <input type='password' id='password' name='password' class="form-control">
                </div>
                <div class='form-group'>
                    <label for='con_pass'>Confirm Password:</label>
                    <input type='password' id='con_pass' name='con_pass' class="form-control">
                </div>
                <input type='submit' value='Register' class='btn btn-primary'>
            </form>
        </div>

        <div class='col-4 my-5'>
            <h1>Login</h1>
            <form action='/login' method='post'>
                {% csrf_token %}
                <div class='form-group'>
                    <label for='login_email'>Email:</label>
                    <input type='text' id='login_email' name='login_email' class='form-control'>
                </div>
                <div class='form-group'>
                    <label for='login_password'>Password</label>
                    <input type='password' id='login_password' name='login_password' class='form-control'>
                </div>
                <input type='submit' value='Login' class='btn btn-primary'>
            </form>
        </div>

    </div>
    <div class='col-5 mx-auto text-danger'>
        {% for message in messages %}
        <p {% if message.tags %} class="{{message.tags}}" {% endif %}>{{message}}</p>
        {% endfor %}
    </div>
</body>
</html>